

<div>
  <h1 class="jumbotron">{{title}}</h1>
</div>
      <div class="card">

            Montant<br><input type="text" placeholder="Montant">
                           <br><br>
                <input type="text" placeholder="Canadian Dollars"  [disabled]="statut">
        <!--
                 <select   [disabled]="statut">
                  <option *ngFor ="let c of myMoney">{{c.name}}</option>
                 </select>-->
                  <p>Au</p>
                  <!--<button (click)="changerDirection()">Changer</button>-->

                  <select >
                      <option *ngFor ="let s of myMoney" >{{s.name}}</option>
                  </select>
                      <br><br>
                        <button (click)="convertirMoney()">Convertir</button>
                        <br> <br>
                        <input type="text" placeholder="Resultat">

      </div>
  <br> <br> <br>
<footer>
2021 &copy; Tous les drois reserves
</footer>



<router-outlet></router-outlet>




<!--


    <div class="search">
            <label>Money</label>

              <select (change)="getlesMoney($any($event.target).value)">

                <option *ngFor ="let m of myMoney" value={{m.Slug}}>
                  {{m.code}}
                </option>
                <option *ngFor ="let m of myMoney" value={{m.Slug}}>
                  {{m.code}}
                </option>


              </select>

                <br><br>
              <button  class="btn" >Convertir</button>

    </div>
  </div>

-->
