<div class="header">
  <div class="flex-container">
    <h1>{{title}}</h1>
  </div>
</div>
<div>
  <div class="main">
    <div class="flex-container">
      <div class="flex-item">
        <div>choisir la monnaie origine</div>
        <div>
          <select (change)="selectCurrencyFromChange($event)">
            <option *ngFor="let currency of currenciesFromName">{{currency}}</option>
          </select>
        </div>
      </div>
      <div class="flex-item">
        <div>
          choisir la monnaie destination
        </div>
        <div>
          <select (change)="selectCurrencyToChange($event)" [selectedIndex]="selectToCurrencyIndex">
            <option *ngFor="let currency of currencies">{{currency.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="flex-container">
      <div  [hidden]="!selectToCurrency" class="flex-item">
        <div>
          Montant en {{selectFromCurrency}}
        </div>
        <input [(ngModel)]="currencyFromAmount" (ngModelChange)="converterMoney()"/>
      </div>
      <div [hidden]="!selectToCurrency" class="flex-item">
        <div>
          Montant en {{selectToCurrency?.name}}
        </div>
        <div>
          <input [(ngModel)]="currencyToAmount" (ngModelChange)="converterMoneyInverse()">
        </div>
      </div>
    </div>
  </div>
</div>
